
2D_Prometeus/.vs/2D_Prometeus/v16/.suo

*.db

*.db-shm

*.db-wal

*.opendb

*.ipch

*.sln

*.vcxproj

*.user

Setka_konectiviti_short.txt

Setka_konectiviti_2.txt

Setka_konectiviti.txt

*.log

*.lastbuildstate

*.tlog

*.obj

*.exp

*.ilk

*.lib

*.pdb

Setka_all_cell.txt

Setka_point.txt

*.cache

*.deps

*.idb

*.exe
