
2D_Prometeus/.vs/2D_Prometeus/v16/.suo

*.db

*.db-shm

*.db-wal

*.opendb

*.ipch

*.sln

*.vcxproj

*.user

Setka_konectiviti_short.txt

Setka_konectiviti_2.txt

Setka_konectiviti.txt

*.log

*.lastbuildstate

*.tlog

*.obj

*.exp

*.ilk

*.lib

*.pdb

Setka_all_cell.txt

Setka_point.txt

*.cache

*.deps

*.idb

*.exe

chlld.f

2D_tecplot.txt

nohup.out

2D_tecplot_multifluid.txt

Расчёты/2D_tecplot_3.txt

Расчёты/info.txt

1D_tecplot_multifluid.txt

all_save_6_multifluid.txt

all_save_7_multifluid.txt

kod/rnd_Dima.dat

111.txt

1.txt

11.txt

2.txt
